body{
    background: rgb(75, 73, 73);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: black;
    padding: 20px;
}
section{
    background: white;
    color: black;
    padding: 20px;
    display: flex;
}
footer{
    background: black;
    padding: 10px;
}

div{
    background: red;
    margin: auto;
    width: 100px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 20px 0 0;
}